.p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* Sizes */
  &.large {
    margin: 8px 12px;
    font-weight: 900;
    font-size: 32px;
  }
  &.medium {
    margin: 6px 9px;
    font-weight: 700;
    font-size: 26px;
  }
  &.small {
    margin: 1px 6.5px;
    font-weight: 600;
    font-size: 20px;
  }
  &.xsmall {
    margin: 1px 4.5px;
    font-weight: 400;
    font-size: 14px;
  }
  &.xxsmall {
    margin: 0px 2px;
    font-weight: 400;
    font-size: 7px;
  }
  &.xxxsmall {
    margin: 0px 1px;
    font-weight: 400;
    font-size: 4px;
  }
  &.normal {
    font-weight: normal;
  }
  &.italic {
    font-weight: normal;
    font-style: italic;
  }
  &.bold {
    font-weight: bold;
  }
  &.noir {
    color: black;
  }
  &.gris {
    color: #5f6368;
  }
}
