:host {
  gmail-button:hover {
    width: 100%;
    background: rgb(226, 222, 222);
  }
  display: flex;
  summary {
    display: flex;
  }
  .dropdownMenu {
    display: flex;
    flex-direction: column;
  }
}
