.textbutton {
  width: fit-content;
  height: 100%;
  height: fit-content;
  color: black;
  background: white;
  border-color: #d0d0d0;
  border-width: 0.4px;
  border-radius: 0.5rem;

  &.true {
    color: #adadad;
    background-color: #f1f1f1;
  }

  p {
    /* Sizes */
    &.large {
      margin: 8px 12px;
      font-weight: 900;
      font-size: 32px;
    }
    &.medium {
      margin: 6px 9px;
      font-weight: 700;
      font-size: 26px;
    }
    &.small {
      margin: 4px 6px;
      font-weight: 600;
      font-size: 20px;
    }
    &.xsmall {
      margin: 2px 3px;
      font-weight: 400;
      font-size: 14px;
    }
    &.normal {
      font-weight: normal;
    }
    &.italic {
      font-weight: normal;
      font-style: italic;
    }
    &.bold {
      font-weight: bold;
    }
  }
}

.textbutton:hover {
  background-color: rgb(226, 222, 222);
  &.true {
    color: #adadad;
    background-color: #f1f1f1;
  }
}
