:host {
  gmail-button {
    --hover-color: rgba(32, 33, 36, 0.059);
  }
  gmail-starbox {
    --hover-color: rgba(32, 33, 36, 0.059);
  }
  gmail-checkbox {
    --hover-color: rgba(32, 33, 36, 0.059);
  }
  --hover-color-selected: rgba(32, 33, 36, 0.059);
  --hover-color-notselected: rgb(226, 222, 222);
  --background-color-selected: #c2dbff;
  --background-color-notselected: rgba(242, 245, 245, 0.8);

  width: 100%;
  color: #202124;
  .expediteur {
    padding-right: 32px;
  }
  .buttonMailSelected {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    background: var(--background-color-selected);
    border-width: 0px;
    .button1 {
      display: none;
    }
    .button2 {
      display: none;
    }
    .button3 {
      display: none;
    }
    .button4 {
      display: none;
    }
    .button5 {
      display: flex;
    }
    .contenuMail {
      display: flex;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .buttonMail {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    background: var(--background-color-notselected);
    border-width: 0px;
    .button1 {
      display: none;
    }
    .button2 {
      display: none;
    }
    .button3 {
      display: none;
    }
    .button4 {
      display: none;
    }
    .button5 {
      display: flex;
    }
    .contenuMail {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      .mailTitle {
        float: left;
      }
    }
  }
  .buttonMail:hover {
    border-width: 0.5px;
    .button1 {
      display: flex;
    }
    .button2 {
      display: flex;
    }
    .button3 {
      display: flex;
    }
    .button4 {
      display: flex;
    }
    .button5 {
      display: none;
    }
  }
  .buttonMailSelected:hover {
    border-width: 0.5px;
    .button1 {
      display: flex;
    }
    .button2 {
      display: flex;
    }
    .button3 {
      display: flex;
    }
    .button4 {
      display: flex;
    }
    .button5 {
      display: none;
    }
  }
}
