:host {
  --hover-color: rgb(226, 222, 222);
  --background-color: #e6e6e6;
  --background-color-focus: #cccccc;
  --background-color-checked: #2aa1c0;
  --background-color-checked-focus: #0e647d;
  --tick-color: #ffffff;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  background: var(--background-color);
}

// Basic control styles
.control {
  position: relative;
  padding-left: 30px;
  font-size: 18px;
  cursor: pointer;
  // Hide default browser input
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
}

// Custom control
.control__indicator {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background: var(--background-color);

  // Hide default browser input
  .control input:disabled ~ & {
    background: var(--background-color);
    opacity: 0.6;
    pointer-events: none;
  }

  // Checked
  .control input:checked ~ & {
    background: var(--background-color-checked);
  }

  // Hover and focus
  .control:hover input ~ &,
  .control input:focus ~ & {
    background: var(--background-color-focus);
  }
  // Hover when checked
  .control input:checked:focus ~ &,
  .control:hover input:not([disabled]):checked ~ & {
    background: var(--background-color-checked-focus);
  }

  &:after {
    position: absolute;
    display: none; // Hide check
    content: '';
    // Checkbox tick
    .control--checkbox & {
      top: 4px;
      left: 8px;
      width: 3px;
      height: 8px;
      border: solid var(--tick-color);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
    .control input:checked ~ & {
      display: block; // Show check
    }
  }
}
